<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %> 
    <body class="music">
        <%- include('./partials/header',{
            orientation : 'header__horizontal'
        }) %> 
    <main>
        <h1>Music</h1>
    </main>
</body>
</html>