<header class="<%= orientation %>">
    <nav class="<%= orientation %>--menu">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/users/about">about</a></li>
            <li><a href="/products/music">music</a></li>
            <li><a href="/users/contact">contact</a></li>
        </ul>
    </nav>
    <nav class="<%= orientation %>--redes">
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-facebook-square"></i></a>
        <a href=""><i class="fa-brands fa-spotify"></i></a>
        <a href=""><i class="fa-brands fa-apple"></i></a>
        <a href=""><i class="fa-brands fa-amazon"></i></a>
        <a href=""><i class="fa-brands fa-instagram-square"></i></a>
    </nav>
</header>